.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.body {
    background-image: url("images/ocean.jpg");
    background-size: 100%;
    background-attachment: Fixed;
    font-family: sans-serif;
        
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: blue;
}

.p1{
    text-indent: 50px;
    text-align: left;
    font-size: 18px;
    font-weight:550;
}